@model IEnumerable<Product>


<partial name="_Notioutfores" />

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-md-6">
            <h2 class="text-uppercase">Product List</h2>
        </div>
        <div class="col-md-6 text-end">
            <a class="btn btn-outline-success" asp-controller="Product" asp-action="Upsert">
                <i class="bi bi-plus-square"></i>  New Product
            </a>
        </div>
    </div>
</div>

<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Category</th>
            <th scope="col">List Price</th>
            <th scope="col">Price</th>
            <th scope="col">Price 50</th>
            <th scope="col">Price 100</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


@section Scripts{
    <script src="~/js/products.js"></script>
}