@model ProductVM

<div class="container">
    <h1 class="text-uppercase py-4">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h1>
    <div class="row">

        <div class="@(Model.Product.Id == 0 ? "col-md-12":"col-md-10")">
            <form method="post" enctype="multipart/form-data" asp-controller="Product" asp-action="Upsert">
                <input asp-for=Product.Id hidden />
                <input asp-for=Product.Image hidden />
                <div class="form-group">
                    <label asp-for="Product.Title"></label>
                    <input type="text" asp-for=Product.Title class="form-control" placeholder="Enter Title...">
                    <span class="text-danger fst-italic" asp-validation-for="Product.Title"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Author"></label>
                    <input type="text" asp-for=Product.Author class="form-control" placeholder="Enter Author...">
                    <span class="text-danger fst-italic" asp-validation-for="Product.Author"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Product.Description"></label>
                    <textarea rows="5" cols="10" asp-for=Product.Description class="form-control"> </textarea>
                </div>

                <div class="form-group">
                    <label asp-for="Product.IBSN"></label>
                    <input type="text" asp-for=Product.IBSN class="form-control" placeholder="Enter IBSN...">
                    <span class="text-danger fst-italic" asp-validation-for="Product.IBSN"></span>
                </div>

                @*đối với ViewBag: asp-items=ViewBag.CategoryList*@
                @*Khuyến nghị dùng ViewData vì tính bảo mật*@
                <div class="form-group">
                    <label asp-for="Product.CategoryId"></label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.ListPrice"></label>
                    <input type="number" asp-for=Product.ListPrice class="form-control" placeholder="Enter List Price...">
                    <span class="text-danger fst-italic" asp-validation-for="Product.ListPrice"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Price"></label>
                    <input type="number" asp-for=Product.Price class="form-control" placeholder="Enter Price...">
                    <span class="text-danger fst-italic" asp-validation-for="Product.Price"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Price50"></label>
                    <input type="number" asp-for=Product.Price50 class="form-control" placeholder="Enter Price 50...">
                    <span class="text-danger fst-italic" asp-validation-for="Product.Price50"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Price100"></label>
                    <input type="number" asp-for=Product.Price100 class="form-control" placeholder="Enter Price 100...">
                    <span class="text-danger fst-italic" asp-validation-for="Product.Price100"></span>
                </div>

                <div class="form-group my-2">
                    <label asp-for="Product.Image"></label>
                    <input type="file" name="file" class="form-control-file">
                    <span class="text-danger fst-italic" asp-validation-for="Product.Image"></span>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-dark mt-3 w-100" asp-controller="Product" asp-action="Index"><i class="bi bi-skip-backward"></i> Back </a>
                    </div>
                    <div class="col-md-6">
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-success w-100 mt-3">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success w-100 mt-3">Create</button>

                        }
                    </div>
                </div>

            </form>
        </div>
        @if (Model.Product.Id != 0)
        {
            <div class="col-md-2">
                <img src="@Model.Product.Image" width="100%" style="border-radius:10px; border: 1px solid black" /> 
        </div>
        }
    </div>
</div>




@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    <partial name="_ValidationScriptsPartial"></partial>
        }